<ion-view title="Admin - List of Users" id="page7" class=" ">
    <ion-content padding="true" class="has-header">

        <ion-list id="adminListOfUsers-list4" class=" ">
            <ion-item class="item-avatar  " id="adminListOfUsers-list-item8">
                <h2>{{ users }}</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="adminListOfUsers-list-item16">
                <h2>Protik Ahmed</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="adminListOfUsers-list-item17">
                <h2>Oishy Khan</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="adminListOfUsers-list-item9">
                <h2>Arpan Barai</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="adminListOfUsers-list-item10">
                <h2>Shagor Chaudhuri</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>