<ion-view title="BloodBank" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/M37PtwVmRDKNuH7HXcf3_Blood-Donation.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 288px; height: 39px;"></div>
        <a ui-sref="signup" id="bloodBank-button1" class=" button button-balanced  button-block ">Register</a>
        <a ui-sref="login" id="bloodBank-button2" class=" button button-positive  button-block ">Already Have an Account</a>
    </ion-content>
</ion-view>